@import "base/variables";
*{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    max-width: 990px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/reviews";
@import "blocks/media";