@media (max-width: 768px) {
    .advantages{
        padding: 35px 0 40px 0;
        &__wrapper{
            display: block;
            margin-top: 50px;
        }
        &__item{
            width: 100%;
            img{
                margin-top: 15px;
            }
        }
        &__subheader{
            margin-top: 15px;
        }
        &__text{
            width: 60%;
            margin-top: 10px;
        }
    }
}
@media (max-width: 666px) {
    .promo{
        &__header{
            font-size: 35px;
        }
        &__subheader{
            font-size: 20px;
        }
    }
    .header{
        flex-direction: column;
        &__official{
            text-align: left;
            margin-top: 20px;
            span{
                display: inline;
            }
        }
        &__contacts{
            margin-top: 20px;
        }
    }
}
@media (max-width: 450px) {
    .promo{
        &__header{
            font-size: 30px;
        }
        &__subheader{
            font-size: 15px;
        }
        &__icons{
            width: 350px;
        }
    }
}
@media (max-width: 376px){
    .header{
        &__official{
            span{
                display: block;
            }
        }
    }
    .advantages{
        &__text{
            width: 80%;
        }
    }
}