.reviews{
    padding-bottom: 40px;
    &__title{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #0d0d0d;
    }
    &__item{
        display: flex;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 30px;
    }
    &__foto{
        display: block;
        width: 169px;
        height: 169px;
    }
    &__wrapper{
        margin-left: 62px;
    }
    &__name{
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        color: #0d0d0d;
    }
    &__marafon{
        margin-top: 10px;
        font-size: 14px;
        text-align: left;
        color: #646464;
    }
    &__text{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
        color: #0d0d0d;
    }
}